
*{
    margin: 20;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

.main{
    width: 800px;
    height: 450px;
    display: flex;

}

form{
    margin: 35px 35px;
    padding-top: 25px;

}

.tempinput{
    background-color: #EEEDED;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label, .to{
    color:black;
    font-weight: 800;
    font-size: 30px;
}


.input-section{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0 22px 0;
}



#value{
    width: 200px;
    height: 100%;
    font-size: 20px;
    margin-right: -6px;
    padding: 0px 10px 0px 10px;
   
}



#inputUnit{
    width: 35px;
    height:100%;
    margin-left: -6px;
    padding-right: 4px ;

}



#outputUnit{
    width: 232px;
    height: 50px;
    margin: 10px 0 0 0;
    color: rgb(67, 39, 39);
    padding: 0 5px;
    font-size: 20px;
}

select option{
    color: white;
    font-size: 17px;
    background-color: #b51643;
}



.btn{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:40px ;
}

.converter{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.output{
    
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b51643;

}

.result{
    font-size: 40px;
    color: #fff;
}

button{
    color: white;
    width: 100px;
    height: 50px;
    background-color: #b51643;
    border-radius: 25px;   
}


@media only screen and (max-width:767px) {

    .main{
        margin-top: 20px;
        height: 500px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
        text-align: center;
    }
    
    
    .tempinput{
        height: 400px;
        width: 100%;
    }
    .output{
        height: 100%;
        width: 100%;
        margin-top: 20px;

    }

    form{
        margin: 0;
        padding: 0;
    }

    #value, #outputUnit{
        width: 60%;
    }

    button{
        width: 50%;
    }

    
}